html,
body,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  background-image: linear-gradient(rgb(0 0 0 / 40%), rgb(0 0 0 / 80%)),
    url('./assets/body-background.webp');
  background-size: cover;
  background-repeat: no-repeat;
}
