.header {
  text-align: center;
  padding: 20px;
  background-color: #403c63;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header h1 {
  font-size: 1.75rem;
  color: #fcfcfc;
  line-height: 1;
  margin-bottom: 0;
}

.nav,
.nav nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.nav p {
  color: #fcfcfc;
  margin: 0;
}

.nav-link {
  background-color: #403c63;
  color: #fcfcfc;
  padding: 0 15px;
  height: 40px;
  border: 2px solid #fcfcfc;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s, transform 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-link:hover {
  background-color: #fcfcfc;
  color: #403c63;
  transform: scale(1.05);
}

.icon-btn {
  width: 48px;
}

.dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #403c63;
  color: #fcfcfc;
  padding: 30px 10px;
  border-top: 5px solid #fcfcfc;
  border-radius: 0 0 0 4px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.ddlink {
  display: block;
  padding: 5px 15px;
  margin-top: 20px;
  border: 1px solid #fcfcfc;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  text-transform: none;
  transition: background-color 0.3s ease-in-out;
  font-size: 1rem;
  font-weight: normal;
  color: #fcfcfc;
  letter-spacing: 1px;
  width: 100%;
}

.ddlink:hover {
  background-color: #fcfcfc;
  color: #403c63;
}

.dropdown p {
  letter-spacing: 1px;
}
