.card {
  display: flex;
  padding: 20px;
  border: 1px solid #47436d;
  border-radius: 4px;
  background: #ededf1;
  width: 100%;
  position: relative;
}

.imagebox {
  margin-right: 20px;
  width: 128px;
}

.card img {
  width: 100%;
  height: auto;
}

.info {
  flex: 1;
}

.info h3 {
  margin: 0;
  font-size: 1.5em;
}

.author {
  font-size: 0.85em;
  font-weight: 500;
  font-style: italic;
  margin-top: 5px;
}

.description {
  margin-top: 20px;
}

.readMore {
  display: block;
  margin-top: 20px;
  text-decoration: none;
  color: #201e31;
  font-weight: 700;
}

.readMore:hover {
  text-decoration: underline;
}
