body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #201e31;
  background-color: #ededf1;
  margin: 0;
}

header {
  text-align: center;
  padding: 30px 0;
  background-color: #403c63;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #201e31;
  margin-bottom: 20px;
}

header h1 {
  color: #fcfcfc;
  margin-bottom: 0;
}

p {
  font-size: 1em;
  line-height: 1.4;
  margin-bottom: 20px;
}

.container {
  width: 100%;
  max-width: 1024px;
  min-height: 100vh;
  margin: 50px auto;
  background: #fcfcfc;
  padding: 50px 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

input[type='text'] {
  padding: 0 20px;
  border: 2px solid #201e31;
  border-radius: 4px;
  width: 100%;
  height: 50px;
  background-color: #fcfcfc;
  font-size: 1em;
  color: #201e31;
  font-family: 'Open Sans', sans-serif;
}

input::placeholder {
  font-family: 'Open Sans', sans-serif;
}

button,
input,
textarea,
select {
  font-family: 'Open Sans', sans-serif;
}

button {
  padding: 10px 15px;
  background-color: #403c63;
  color: #fcfcfc;
  border: 2px solid #201e31;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
  transition: background-color 0.3s ease, color 0.3s ease;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

button:not(:disabled):hover {
  background-color: #c4c1da;
  color: #201e31;
  border: 2px solid #201e31;
}

ul {
  margin-bottom: 20px;
  padding-left: 20px;
}

li {
  margin-bottom: 10px;
}

.error {
  font-weight: bold;
  color: red;
  text-align: center;
  text-transform: uppercase;
}

footer {
  text-align: center;
  padding: 20px 0;
  background-color: #403c63;
  color: #fcfcfc;
  margin-top: auto;
}
